@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html {
    font-family: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: rgb(211, 80, 80);
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
}

.header .logo {
    font-size: 2rem;
    font-weight: bolder;
    color: #130f40;
}

.header .logo i {
    color: #fff;
}

.header .phone {
    margin-right: 0;
}

.header .phone a {
    color: #eee;
    font-size: 15px;
    font-family: sans-serif;
}

.header .phone p {
    color: #eee;
    font-size: 15px;
    font-family: sans-serif;
}

.header .navbar a {
    font-size: 24px;
    margin: 0 16px;
    color: #130f40;
}

.header .navbar a:hover {
    color: #fff;
}

section {
    padding: 32px 9%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./images/bg-banner.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content {
    width: 60rem;
    height: 15rem;
}

.home .content h3 {
    position: absolute;
    right: 30px;
    top: 150px;
    color: black;
    font-size: 40px;
}

.home .content p {
    color: var(--light-color);
    font-size: 17px;
    padding: 1rem 0;
    position: absolute;
    right: 20px;
    line-height: 1.8rem;
    text-transform: none;
}

.heading {
    padding: 2rem 0;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: #130f40;
}

.title {
    padding: 2rem 0;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 40px;
    color: black;
}

.heading span {
    background: #ee5b5b;
    color: #fff;
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%, 0 0);
}



.introduce .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.introduce .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}

.introduce .box-container .box:hover {
    outline: black;
    outline-offset: 0rem;
}

.introduce .box-container {
    padding: 20px;
}

.introduce .box-container .box p {
    font-size: 18px;
    line-height: 1.8;
    color: black;
    padding: 1rem 0;
    text-transform: none;
    text-align: left;
}

.service .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 20px;
}

.service .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}

.service .box-container .box1 {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}

.service .box-container .box:hover {
    outline: black;
    outline-offset: 0rem;
}

.service .box-container .box1:hover {
    outline: black;
    outline-offset: 0rem;
}

.service .box-container .box p {
    font-size: 18px;
    line-height: 1.8;
    color: black;
    padding: 1rem 0;
    text-transform: none;
    text-align: left;
}

.service .box-container .box h3 {
    font-size: 24px;
    text-align: left;
}

.service .box-container .box1 p {
    font-size: 18px;
    line-height: 1.8;
    color: black;
    padding: 1rem 0;
    text-transform: none;
    text-align: left;
}

.service .box-container .box1 img {
    float: right;
    margin-left: 10px;
}

.service .box-container .box1 h3 {
    font-size: 24px;
    text-align: left;
}

.news .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 20px;
}

.news .box-container .box1 {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}

.news .box-container .box1:hover {
    outline: black;
    outline-offset: 0rem;
}

.news .box-container .box1 p {
    font-size: 18px;
    line-height: 1.8;
    color: black;
    padding: 1rem 0;
    text-transform: none;
    text-align: left;
}

.news .box-container .box1 img {
    float: left;
    margin-right: 10px;
}

.news .box-container .box1 h3 {
    font-size: 24px;
    text-align: left;
}







.contact .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 20px;
}

.contact .box-container .box1 {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}

.contact .box-container .box1:hover {
    outline: black;
    outline-offset: 0rem;
}

.contact .box-container .box1 p {
    font-size: 18px;
    line-height: 1.8;
    color: black;
    padding: 1rem 0;
    text-transform: none;
    text-align: left;
}

.contact .box-container .box1 img {
    float: right;
    margin-left: 10px;
    width: 40%;
    height: 100%;
}

.contact .box-container .box1 h3 {
    font-size: 24px;
    text-align: left;
}

.contact .box-container .box {
    background: #ee5b5b;
    padding: 3rem 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: -1rem;
    flex-flow: row wrap;
}

.contact .box-container .box .partial {
    flex: 1 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.contact .box-container .box .partial h3 {
    font-size: 22px;
    text-align: left;
    color: black;
}

.contact .box-container .box .partial p {    
    font-size: 16px;
    line-height: 1.8;
    color: black;
    padding: 1rem 0;
    text-transform: none;
    text-align: left;
}

